<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Draw and Guess game</title>

  <link rel="stylesheet" href="../css/loggedIn.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

</head>

<body>
<!--including the navigation  -->
<div class="container">
<!-- this is where the main cocomponents are loaded  is(profile,canvas) -->

</div>

<div class="chat">

<!-- place for chat component-->
</div>
<script src="../js/loggedIn.js"></script>
</body>
</html>
